<div class="cover">
  <div class="login-container"></div>
  <img class="main-screen-1" src="main-screen-10.png" />
  <div class="page-title">
    <span>
      <span class="page-title-span">Welcome to Lucky Clinic</span>
      <span class="page-title-span2"></span>
    </span>
  </div>
  <div class="dot-grid">
    <div class="frame">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame2">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame3">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame4">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame5">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame6">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame7">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame8">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame9">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame10">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame11">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
  </div>
  <div class="dot-grid2">
    <div class="frame">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame2">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame3">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame4">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame5">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame6">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame7">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame8">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame9">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame10">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame11">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
  </div>
  <div class="dot-grid3">
    <div class="frame">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame2">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame3">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame4">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame5">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame6">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame7">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame8">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame9">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame10">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
    <div class="frame11">
      <div class="ellipse"></div>
      <div class="ellipse2"></div>
      <div class="ellipse3"></div>
      <div class="ellipse4"></div>
      <div class="ellipse5"></div>
      <div class="ellipse6"></div>
      <div class="ellipse7"></div>
      <div class="ellipse8"></div>
      <div class="ellipse9"></div>
      <div class="ellipse10"></div>
      <div class="ellipse11"></div>
    </div>
  </div>
</div>
