.cover,
.cover * {
  box-sizing: border-box;
}
.cover {
  background: #f3f3f3;
  height: 1300px;
  position: relative;
  overflow: hidden;
}
.login-container {
  background: linear-gradient(
    232.36deg,
    rgba(160, 219, 255, 1) 0%,
    rgba(63, 182, 255, 1) 100%
  );
  border-radius: 30px;
  width: 1347.3px;
  height: 982.41px;
  position: absolute;
  left: calc(50% - 170.33px);
  top: calc(50% - 522.34px);
  transform-origin: 0 0;
  transform: rotate(2.695deg) scale(1, 1);
}
.main-screen-1 {
  width: 1497px;
  height: 1108px;
  position: absolute;
  left: 771px;
  top: 96px;
  object-fit: cover;
}
.page-title {
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 110px;
  font-weight: 500;
  position: absolute;
  left: 98px;
  top: 410px;
  width: 778px;
}
.page-title-span {
  background: linear-gradient(
    269.96deg,
    rgba(33, 170, 255, 1) 0%,
    rgba(0, 124, 200, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page-title-span2 {
  color: #202020;
}
.dot-grid {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 416.84px;
  top: 182.37px;
  transform-origin: 0 0;
  transform: rotate(-8.935deg) scale(1, 1);
  overflow: hidden;
}
.frame {
  width: 100px;
  height: 9px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.ellipse {
  background: #9a9fa6;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ellipse2 {
  background: #9a9fa6;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 9px;
  top: 0px;
}
.ellipse3 {
  background: #9a9fa6;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 18px;
  top: 0px;
}
.ellipse4 {
  background: #9a9fa6;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 27px;
  top: 0px;
}
.ellipse5 {
  background: #9a9fa6;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 36px;
  top: 0px;
}
.ellipse6 {
  background: #9a9fa6;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 45px;
  top: 0px;
}
.ellipse7 {
  background: #9a9fa6;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 54px;
  top: 0px;
}
.ellipse8 {
  background: #9a9fa6;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 63px;
  top: 0px;
}
.ellipse9 {
  background: #9a9fa6;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 72px;
  top: 0px;
}
.ellipse10 {
  background: #9a9fa6;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 81px;
  top: 0px;
}
.ellipse11 {
  background: #9a9fa6;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  left: 90px;
  top: 0px;
}
.frame2 {
  width: 100px;
  height: 9px;
  position: absolute;
  left: 0px;
  top: 9px;
  overflow: hidden;
}
.frame3 {
  width: 100px;
  height: 9px;
  position: absolute;
  left: 0px;
  top: 18px;
  overflow: hidden;
}
.frame4 {
  width: 100px;
  height: 9px;
  position: absolute;
  left: 0px;
  top: 27px;
  overflow: hidden;
}
.frame5 {
  width: 100px;
  height: 9px;
  position: absolute;
  left: 0px;
  top: 36px;
  overflow: hidden;
}
.frame6 {
  width: 100px;
  height: 9px;
  position: absolute;
  left: 0px;
  top: 45px;
  overflow: hidden;
}
.frame7 {
  width: 100px;
  height: 9px;
  position: absolute;
  left: 0px;
  top: 54px;
  overflow: hidden;
}
.frame8 {
  width: 100px;
  height: 9px;
  position: absolute;
  left: 0px;
  top: 63px;
  overflow: hidden;
}
.frame9 {
  width: 100px;
  height: 9px;
  position: absolute;
  left: 0px;
  top: 72px;
  overflow: hidden;
}
.frame10 {
  width: 100px;
  height: 9px;
  position: absolute;
  left: 0px;
  top: 81px;
  overflow: hidden;
}
.frame11 {
  width: 100px;
  height: 9px;
  position: absolute;
  left: 0px;
  top: 90px;
  overflow: hidden;
}
.dot-grid2 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 175.66px;
  top: 900px;
  transform-origin: 0 0;
  transform: rotate(18.458deg) scale(1, 1);
  overflow: hidden;
}
.dot-grid3 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 723.66px;
  top: 577px;
  transform-origin: 0 0;
  transform: rotate(18.458deg) scale(1, 1);
  overflow: hidden;
}
