<div
  class="login"
  style="
    background: url(login.png) center;
    background-size: cover;
    background-repeat: no-repeat;
  "
>
  <div class="rectangle-1"></div>
  <div class="hello-welcome-here">Hello, Welcome here</div>
  <div class="choose-one-of-the-option-to-go">
    Choose one of the option to go
  </div>
  <div class="rectangle-2"></div>
  <div class="rectangle-3"></div>
  <div class="get-ziontutorial-com">
    <span>
      <span class="get-ziontutorial-com-span">get</span>
      <span class="get-ziontutorial-com-span2">@</span>
      <span class="get-ziontutorial-com-span3">ziontutorial.com</span>
    </span>
  </div>
  <div class="password">Password</div>
  <div class="or-continue-with">Or continue with</div>
  <div class="line-1"></div>
  <div class="rectangle-4"></div>
  <div class="rectangle-5"></div>
  <div class="rectangle-6"></div>
  <div class="rectangle-7"></div>
  <div class="log-in">Log in</div>
  <img
    class="_341350527-1184363148892088-4003333439020170582-n-2"
    src="n-20.png"
  />
  <img
    class="_341350527-1184363148892088-4003333439020170582-n-3"
    src="30.png"
  />
  <img
    class="_341350527-1184363148892088-4003333439020170582-n-22"
    src="n-21.png"
  />
</div>
