<div class="sign-up">
  <div class="frame-1">
    <img class="background-1" src="background-10.svg" />
    <img class="rectangle-1" src="rectangle-10.svg" />
    <div class="already-have-an-account-sign-in">
      <span>
        <span class="already-have-an-account-sign-in-span">
          Already have an account
        </span>
        <span class="already-have-an-account-sign-in-span2">Sign-in</span>
      </span>
    </div>
    <div class="create-an-account">Create an account</div>
    <img class="rectangle-2" src="rectangle-20.svg" />
    <img class="rectangle-6" src="rectangle-60.svg" />
    <img class="rectangle-7" src="rectangle-70.svg" />
    <img class="rectangle-8" src="rectangle-80.svg" />
    <img class="rectangle-5" src="rectangle-50.svg" />
    <img class="rectangle-9" src="rectangle-90.svg" />
    <div class="create-account">Create account</div>
    <img class="rectangle-4" src="rectangle-40.svg" />
    <img class="rectangle-3" src="rectangle-30.svg" />
    <div class="email-address">Email address</div>
    <div class="first-name">First Name</div>
    <div class="password">Password</div>
    <div class="day">Day</div>
    <div class="month">Month</div>
    <div class="year">Year</div>
    <div class="date-of-birth">Date of Birth</div>
    <div class="last-name">Last Name</div>
    <div
      class="by-clicking-create-account-i-agree-that-i-have-read-and-accepted-the-terms-of-use-and-privacy-policy"
    >
      <span>
        <span
          class="by-clicking-create-account-i-agree-that-i-have-read-and-accepted-the-terms-of-use-and-privacy-policy-span"
        >
          By clicking Create account, I agree that I have read and accepted the
        </span>
        <span
          class="by-clicking-create-account-i-agree-that-i-have-read-and-accepted-the-terms-of-use-and-privacy-policy-span2"
        >
          Terms of use
        </span>
        <span
          class="by-clicking-create-account-i-agree-that-i-have-read-and-accepted-the-terms-of-use-and-privacy-policy-span"
        >
          and
        </span>
        <span
          class="by-clicking-create-account-i-agree-that-i-have-read-and-accepted-the-terms-of-use-and-privacy-policy-span3"
        >
          Privacy Policy
        </span>
      </span>
    </div>
    <img class="vector" src="vector0.svg" />
    <div class="welcome">Welcome</div>
    <div class="sign-up2">Sign-up</div>
  </div>
</div>
